<mat-toolbar color="primary" class="example-header">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="sidenav.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>

  <!-- <span class="viewport-width">Gommunda - build #  - Width: {{ viewportWidth }}px</span> -->
  <span class="viewport-width">Gommunda - build #Arsy Aardvark</span>

  <span class="spacer"></span>

  <!-- Display the viewport width -->

  <div *ngIf="(user$ | async) as user" class="user-info">
    <!-- <span>{{ user.displayName }}</span> -->
    <img [src]="user.photoURL" alt="User Photo" class="user-photo" />
    <button mat-button color="warn" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>

</mat-toolbar>

<mat-sidenav-container class="example-container">

  <mat-sidenav #sidenav mode="side" opened class="example-sidenav">
    <mat-nav-list *ngIf="(user$ | async) as user">
      <a mat-list-item routerLink="/dashboard">Dashboard</a>
      <a mat-list-item routerLink="/rules">Rules Editor</a>
      <a mat-list-item routerLink="/ganger-special-rules">Ganger Rules Editor</a>
      <a mat-list-item routerLink="/weapons">Weapons Editor</a>
      <div class="spacer"></div>
      <mat-divider></mat-divider>
      <div class="spacer"></div>
      <a mat-list-item *ngFor="let gang of (gangs$ | async)" routerLink="/gang/{{ gang.gang_id }}">
        {{ gang.gang_name }}
      </a>
      <ng-template #noGangs>
        <p>No gangs available</p>
      </ng-template>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <div class="router-outlet-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>