.editor {
	width: 100%;
	margin: 0px;

	.mat-form-field {
		width: 100%;
	}
}

.mat-column-name{
	width: 5%;
}

.mat-column-rule_type {
	width: 5%;
}

.mat-column-description {
}

/* Below is universal mat-table css for tables with editable data*/

.mat-column-actions {
	width: 130px;
	text-align: right;
}

.action-cell-button { padding-bottom: 13px; }

mat-select { font-size: 13px; }
mat-option { font-size: 13px; }

.mdc-data-table__cell,
.mdc-data-table__header-cell {
	padding: 0px 2px 0px 0px;
}

mat-form-field {
	display: flex; /* Ensure the form field aligns its content properly */
	align-items: center; /* Vertically center the content */
	width: 100%; /* Ensure full width */
	font-size: 13px; /* Ensure consistent font size */
	min-width: 0; /* Remove the default minimum width */
	max-height: 75px;
	min-height: 75px;
	vertical-align: middle; /* Align text vertically in the middle */
	padding: 0px;
      }