/* filepath: c:\Users\gom\code\angular\gommunda-frontend\src\app\login\login.component.scss */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
//   height: 100vh;
}

mat-card {
  width: 400px;
  padding: 20px;
  text-align: center;
}